h1 {
  font-size: 60px;
  color: rgb(19, 137, 228);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 150px auto 10px;
}
.logform {
  width: 450px;
  height: 380px;
  /* border: 1px solid black; */
  margin: 30px auto;
  border: 3px solid rgb(228, 223, 223);
  border-radius: 10px;
  box-shadow: 5px 5px 20px 10px rgb(228, 223, 223);
}
.bold {
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.inp input {
  width: 90%;
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 20px;
  margin: 1px auto 20px 22.5px;
  border-radius: 8px;
  border: 3px solid rgb(228, 223, 223);
}
.login input {
  width: 90%;
  padding: 12px 10px;
  color: white;
  background-color: rgb(19, 137, 228);
  box-sizing: border-box;
  font-size: 20px;
  margin: auto auto 20px 22.5px;
  border-radius: 8px;
  border: 3px solid rgb(19, 137, 228);
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.ref a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(19, 137, 228);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto 0px 20px 40px;
  padding: ;
}
.inp input:focus {
  border-color: rgba(19, 137, 228, 0.5);
}
.inp input:hover {
  border-color: rgba(19, 137, 228, 0.5);
  box-shadow: 2px 2px 10px 5px rgba(19, 137, 228, 0.5);
}
