body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.linkform {
  width: 350px;
  margin: 150px 250px;
  border: 2px solid rgb(201, 199, 199);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgb(201, 199, 199);
}
.head p {
  margin: 20px auto 0px 20px;
  font-size: 30px;
  font-weight: 500;
}
.para p {
  margin: 0px auto 15px 20px;
  font-size: 14px;
}
.inp input {
  width: 90%;
  box-sizing: border-box;
  margin: 5px auto 15px 20px;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid rgb(201, 199, 199);
  font-size: 20px;
}
.href a {
  margin-top: ;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(43, 75, 201);
  font-size: 20px;
}
.sign input {
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 15px;
  border-radius: 25px;
  font-size: 20px;
  color: white;
  border: 1px solid rgb(43, 75, 201);
  background-color: rgb(22, 123, 206);
}
.para1 p {
  text-align: center;
}
.btn button {
  display: block;
  width: 90%;
  margin: 10px auto 20px 20px;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid gray;
  font-size: 20px;
}
.last p {
  position: relative;
  bottom: 120px;
  left: 50px;
  text-align: center;
  font-size: 19px;
}
.last a {
  text-decoration: none;
  color: rgb(22, 123, 206);
}
