/* font-family: 'Poppins', sans-serif; */
:root{
    /* primary */
    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);
    /* accent*/
    --Blue: hsl(248, 32%, 49%);
    /* neutral */
    --Dark_Blue: hsl(249, 10%, 26%) ;
    --Grayish_Blue: hsl(246, 25%, 77%);
    
    /* google fonts */
    --font-poppins : 'Poppins', sans-serif;
    /* font weights */
    --fw-400 : 400;
    --fw-500 : 500;
    --fw-600 : 600;
    --fw-700 : 700;
}
/* 
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-poppins);
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-image:url("./images/bg-intro-mobile.png");
    background-color: var(--Red);
}
.container{
  margin:  1rem;
  padding: 1rem;
  color: white;
  text-align: center;
  /* border: 2px solid red; */
  overflow: scroll;
}
.title{
  font-size:25px;
  font-weight: var(--fw-700);
  text-align:center;
  line-height:1.8rem;
  margin-bottom: 1.5rem;
}
.content{
  
  line-height: 1.7rem;
}
.content_2{
  background-color: var(--Blue);
  padding: 1.8em;
  margin: 3rem 0 .8rem;
  border-radius: .5rem;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.334);
  font-size: 14px;
  color: var(--Grayish_Blue);
}
.form_input{
  margin-top: 2rem ;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: .5rem;
}
.inp{
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  outline: none;
  font-weight: var(--fw-600);
  font-size:14px;
  border: 1px solid rgba(128, 128, 128, 0.574);
}
button{
  width: 100%;
  padding: .7rem;
  background-color: var(--Green);
  border-radius: .3rem;
  font-weight: var(--fw-500);
  color:white;
  text-transform:uppercase;
  font-size:14px;
  border:none;
  margin-bottom: .7rem ;
  cursor: pointer;
}
.foot{
  font-size:11px;
  font-weight: var(--fw-600);
  margin:0 1rem;
  color: var(--Grayish_Blue);
}
.tryit{
  font-weight: var(--fw-700);
  cursor: pointer;
  color: white;
}
.terms{
  font-weight: 700;
  color:var(--Red);
  cursor: pointer;
}
.inp::placeholder{
  font-size: 14px;
  font-weight:var(--fw-700);
}
button:hover{
  background-color: hsla(154, 59%, 51%, 0.647);
}
@media(min-width:600px){
  body{
    background-image: url("./images/bg-intro-desktop.png");
    padding: 0 1rem;
  }
  .container{
    display: flex;
    gap: 2rem;
    
  }
  .center{
    place-self: center;
    padding: 2rem;
  }
  .title{
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align:start;
    
    padding: 0 2rem;
    
  }
  .content{
      text-align: justify;
    
      margin-left: 1.9rem;
  }
  .right{
    max-width: 450px;
    height: 600px;
   
    display: flex;
    flex-direction: column;
    
  }
}